body {font-family: "Trebuchet MS", sans-serif;background: #696969;font-size: 16px;}
.dashContainer{background: #fff;}
.cadContainer{background: #DCDCDC;}
.form-cad{background: #fff;}
.erro-form{color:#EE0000;font-size: 14px;}
